.bg-gold{
background-color: #caa660;
height: 100vh;
}
.bg-green{
background-color:#799f6f;
height: 100vh;
}
.title{
  text-align: center;
    font-family: "Playfair Display", serif;

    font-size: 50px;


    margin-top: 70px;



}

.sotto_title {
  margin: 0 auto;
    margin-top: 30px;

    width: 160px;
    height: 3px;
    background-color: #000000;
}
