#home {
  .fas {
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      font-weight: 900;
  }
.fa-angle-right{

    color: black;

}
.fa-angle-left {
    color: black;
}

  [type=button] {
      -webkit-appearance: none;
  }

.carousel {
  overflow:hidden;
  img{
    max-width: 100%;
    height: auto;
  }
    .carousel-caption a h5 { color: white}





}

.previous{
   .nav-inner{
     margin-left:16px;
   }


}





.mostra_evento{
    border: 1px solid black;
    width: 349px;
    padding:16px;
    margin: 30px auto 0;

     h2 {

       font-weight: bold;
       color:black;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
           }

    p{
  color:black;
    font-family: 'Playfair Display', serif;
    font-size: 19px;


    }
}

.data{

    text-align: center;
    font-size: 16px;


}
.mess_data{
  text-align: center;
  font-size: 18px;
}
.bordo {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    height: 740px;
    border: 1px solid black;
}

  $calendarGold: #caa660;

  #react-calendar{

    margin-top: 30px;

    padding-left: 30px;
    max-width: 370px;
    height: 100vh;


  .Day-inner{
      color:black;



  }
  .selected{
      .Day-inner{
          color:white;


      }

  }
  .Calendar {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 0;


      th,td {
vertical-align: middle;
border-top: 0px solid #dee2e6;
          text-align: center;
      }


      .Day:hover {
          background: #eee;
          color: #000;
      }

      .Day.today {
          background: $calendarGold;
          color: #fff;
      }

      .Day.selected{
        height: 50px;
          width: 50px;
          background: $calendarGold;

          border-radius:50px;
      }

      .Day.has-event {

          a {color: $calendarGold; }

          &.selected {
              a { color: #eee }
          }

      }

      .Day.other-month,.Day.other-month.selected  {
          background: #fafafa;
          a {color: #aaa;}
      }
      .table thead th {
          vertical-align: bottom;
          border-bottom: 0px solid #dee2e6;
      }
      .table th, .table td {

          vertical-align: top;
          border-top: 0px solid #dee2e6;
      }
  }
  }



}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6!important;
}
