#home {


.carousel {
  overflow:hidden;
  img{

    height: 800px;
  }

}







.mostra_evento{
border: 1px solid black;
width: 396px;
    margin: 2rem auto 0;
     h1 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
    h3{

    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;

    }
}

.data{

    text-align: center;
    font-size: 16px;


}
.mess_data{
  text-align: center;
  font-size: 18px;
}
.bordo{
      margin: 37px 10px 20px 28px;
border: 1px solid black;



}

  #react-calendar{
    padding-right: 29px;
    padding-left: 22px;
    max-width: 453px;

    height: 100vh;

}

.Day-inner{
color:black;


}
.selected{
  .Day-inner{
  color:white;


  }

}
  .Calendar {
    border: 1px solid black;
        border-collapse: collapse;
        padding: 0;
        margin: 4rem auto 0;


    }

    .Calendar th,
    .Calendar td {

  padding: 22px 16px;


        text-align: center;
    }

    .Day:hover {
        background: #eee;
        color: #000;
    }

    .Day.today {
        background: #caa660;
        color: #fff;
    }

    .Day.selected{
          width: 100px;
background: #caa660;
      padding: 21px;
	border-radius:50px;
  }

    .Day.other-month {
        background: #fafafa;
        color: #aaa;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 0px solid #dee2e6;
    }
    .table th, .table td {

        vertical-align: top;
        border-top: 0px solid #dee2e6;
    }

}
