#servizi-mnlounge{
  .carousel-item img {
    max-width:100%;
    object-fit: cover;
  }
  .title{
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin-top: 100px;

  }


  .sotto_title {

    margin: 0 auto;
    margin-top: 30px;
    width: 160px;
    height: 1px;
    background-color: #000000;

  }


}
