#soci{

.hotel{
  color:#000000;
  font-size:18px;
 font-family: "GothamBook", serif;
  font-weight: 700;
  list-style: none;

a{
  color:#000000;
  font-size:18px;
  text-decoration: none;



}



}

.title{
    font-family: "GothamBook", serif;
    left: 50%;
        font-size: 32px;

    position: absolute;
    text-transform: uppercase;
    margin-top: 70px;
    z-index: 1000;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}

.sotto_title {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
    left: 50%;
    z-index: 999999;
    position: absolute;
    width: 160px;
    height: 3px;
    background-color: #000000;
}




}
