
#hotel-picker{
  margin:0  auto;

  .hotel{
    padding-left: 0px;

  }




}



select {

  border-color: #000000;
  height: calc(1.6em + 0.75rem + 10px);
    line-height: 24px;
    text-transform: uppercase;
    font-size: 19px;
    word-wrap: normal;

}


  /*   .via {
    top: 42%;
    position: absolute;
    right: 20%;
    height: 29px;
    width: 29px;
    background-image: none;
    border: solid #07070770;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}*/




  /*  content: "/f078";   this is your text. You can also use UTF-8 character codes as I do here
    font-family: FontAwesome;
    position:absolute;
    position: absolute;
    right: 112px;
    top: 289px;*/



#brand-location-picker{

  margin: 0 auto;
  width: 70%;
  margin-top: 200px;
  select{
    width: 100%;
      }
  ul{
    height: 310px;
    overflow: auto;
    cursor: pointer;
    margin-top: 15px;
    font-size: 19px;
    line-height: 30px;
    list-style-type: none;
    margin-left: -38px;


  }



}






#soci{











.hotel{
  color:#000000;
  font-size:19px;
 font-family: 'Playfair Display', serif;

  list-style: none;

a{




  line-height: 30px;
  color:#000000;
  font-size:19px;
  text-decoration: none;



}



}

.title{
      align-self: self-start;
    font-family: 'Playfair Display', serif;
    left: 50%;
        font-size: 32px;
            line-height: 32px;

    position: absolute;
    text-transform: uppercase;
    margin-top: 87px;
    z-index: 1000;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}

.sotto_title {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
    left: 50%;
    z-index: 999999;
    position: absolute;
    width: 160px;
    height: 1px;
    background-color: #000000;
}




@media all and (max-width: 768px){

.mobile_place{
  height: 700px;
}






}












}
