#soci{

.hotel{
  color:#000000;
  font-size:18px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  list-style: none;

a{
  color:#000000;
  font-size:18px;
  text-decoration: none;



}




}










}
