


#footer {

    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    line-height: 60px;
    background-color: #ffffff;

a{
  color:#000000;
  font-size: 30px;
  margin-left: 10px;
}
a:hover{
  color:#caa660;

}
.footer-copyright{
  padding-bottom:40px;
  padding-top:40px;
}
.info{
  font-size: 14px;
  left: 56px;
  padding-top: 55px;
  position: absolute;
}
.privacy-link {
    display: inline-block;
    font-size: 14px;
}
@media all and (max-width: 768px){
.info{
    font-size: 10px;
    left: 16px;
    padding-top: 96px;
    position: absolute;
}
}



}
