


#footer {

    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    line-height: 60px;
    background-color: #ffffff;

a{
  color:#000000;
  font-size: 30px;
  margin-left: 10px;
}
a:hover{
  color:#caa660;

}
.footer-copyright{
  padding-bottom:40px;
  padding-top:40px;
}
}
