

#nav {

  .navbar-light .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='48' viewBox='0 0 48 48' fill='rgb(28,28,28)'%3E%3Crect x='16' y='10' width='48' height='4' /%3E%3Crect x='16' y='20' width='48' height='4' /%3E%3Crect x='16' y='30' width='48' height='4' /%3E%3C/svg>");
  }


  .navbar-toggler-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      content: "";
      background: no-repeat center center;
      background-size: 100% 100%;
  }



  .navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: white;
}
  .bg-light {
    border-bottom: 0px solid black;
    background-color: #ffffff !important;
  }
  .nav-link{
    color:#000000;
  }
  .nav-link:hover{
    color:#caa660;
  }
  .nav-link:focus{
    color:#caa660;
  }
  .lingua {
    font-size: 18px;


    li a{
      font-family: "Lato", sans-serif;
      color: black;
    }
  }
  .nav-item{
    text-transform: uppercase;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    position: relative;

    &.active {

      .underline {
      position: absolute;
      width: 100%;
      height: 7px;
      background-color: #caa660;
      left: 0;
      bottom: 0;

    }

    &.active.vendemmia .underline {
      background-color: #90294E;
    }

  }

  }




  .navbar-brand img{
    width: 180px;
  }

   @media only screen and (max-width: 768px) {
     .lingua {
    position: absolute;
    right: 58px;
    top: 40px;
}
  .navbar-toggler{

    margin-bottom: 23px;

  }
  }

}
