#dashboard-page {

  height: calc(100vh - 60px);

  .sidebar {

    width: 200px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: yellow;
    a.nav-link {
      color: #24EAB6
    }

  }

  .content-area {
    
    width:  calc(100vw - 200px);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

  }


}
