#dashboard-page {

  height: calc(100vh - 60px);

  .sidebar {

    width: 200px;
    height: 100%;

    background: yellow;
    a.nav-link {
      color: #24EAB6
    }
      @media all and (max-width: 575px){
          width: 100%;
          height: auto;
      }

      @media all and (min-width: 576px){
          overflow-y: scroll;
          overflow-x: hidden;
      }

  }



  .content-area {
    
    width:  calc(100vw - 200px);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

      @media all and (max-width: 575px){
          width: 100%;
          height:auto;
      }

  }


}
